*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

li, ul, ol , a{
    list-style: none;
    text-decoration: none;
}

html, body{
    width: 100% !important;
    min-height: 100vh !important;
    background-color: #021211;
}