@import url('./fonts.scss');

$loader-size: 10px; // Tamaño del loader
$loader-color: #fff; // Color del loader
$animation-duration: 2s; // Duración de la animación
$animation-timing: linear; // Curva de tiempo de la animación